<mat-card>

    <mat-list>
             <mat-list-item>
                <img mat-list-avatar src="https://source.unsplash.com/random/200x200" alt="Desc 1">
                <h3 mat-line>Title 1</h3>
                <p mat-line>
                  <span>An awesome description</span>
                </p>
             </mat-list-item>


             <mat-list-item>
                <img mat-list-avatar src="https://source.unsplash.com/random/200x200" alt="Desc 1">
                <h3 mat-line>Title 1</h3>
                <p mat-line>
                  <span>An awesome description</span>
                </p>
              </mat-list-item>

              <mat-list-item>
                  <img mat-list-avatar src="https://source.unsplash.com/random/200x200" alt="Desc 1">
                  <h3 mat-line>Title 1</h3>
                  <p mat-line>
                    <span>An awesome description</span>
                  </p>
              </mat-list-item>
              <mat-list-item>
                    <img mat-list-avatar src="https://source.unsplash.com/random/200x200" alt="Desc 1">
                    <h3 mat-line>Title 1</h3>
                    <p mat-line>
                      <span>An awesome description</span>
                    </p>
              </mat-list-item>
          <!-- <mat-card-header>
            
             <mat-card-title>Shiba Inu</mat-card-title>
             <mat-card-subtitle>Dog Breed</mat-card-subtitle>
             <mat-icon fxFlex="10%" (click) = "goToAddressForm()">mode_edit </mat-icon>
             <mat-icon fxFlex="10%">delete</mat-icon>
           </mat-card-header> -->
            
          
            
        </mat-list>
</mat-card>
        